@use '../styles' as *;

.layout {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'content' 'bottom-nav';

  @include respond-up($bp-tablet) {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar content';
  }
}

.sidebar {
  grid-area: sidebar;
  display: none;
  background: none;
  border-right: 1px solid var(--sidebar-border);

  @include respond-up($bp-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.content {
  grid-area: content;
  overflow-y: auto;
  padding: 1.5rem;
}

.bottomNav {
  grid-area: bottom-nav;
  background: var(--card);
  border-top: 1px solid var(--border);

  @include respond-up($bp-tablet) {
    display: none;
  }
}
