@mixin spin($duration: 1s, $timing: linear, $infinite: true) {
  @if $infinite {
    animation: spin-anim $duration $timing infinite;
  } @else {
    animation: spin-anim $duration $timing none;
  }
}

@keyframes spin-anim {
  100% {
    rotate: 360deg;
  }
}
